@import url("//db.onlinewebfonts.com/c/646687119bfc3ea67c4427bf07397bc3?family=National+Medium");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
  font-family: sans-serif;
}
.card {
  @apply bg-white rounded overflow-hidden shadow-lg relative;
}
.badge {
  @apply bg-red-100 text-red-400 text-xs uppercase font-bold rounded p-2 absolute top-2 left-2;
}
.btn {
  @apply rounded-full px-3 py-2 cursor-pointer tracking-wider;
}
hr {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 0;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(117, 117, 117, 0.635);
  border-radius: 10px;
}

/* login page */
.login {
  background-image: url("./assets/bg.png");
}
